#cabeza{
    background-color:  rgb(171, 207, 134);
}

.logo{
    height: 80px;
    background: rgba(255, 255, 255, 5);
}
#botonI{
    background-color: rgb(241, 235, 235);
    color: rgb(29, 141, 29);
    position: relative;
    left: 70%;
}
#botonR{
    background-color: rgb(241, 235, 235);
    color: rgb(29, 141, 29);
    position: relative;
    left: 70%;  
}
#botonI:hover{
    background-color: rgb(121, 194, 121);
}
#botonR:hover{
    background-color: rgb(121, 194, 121);
}

.link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.link:hover{
    color: rgb(108, 143, 37);
}

#barra{
    background: linear-gradient(to bottom, rgb(0, 153, 255), white);

}
#body{
    background-color: rgb(171, 207, 134);
}
#opciones{
    color: blue;
}
#opciones:hover{
    background-color: rgb(121, 194, 121);
}
.img1{
    height: 350px;
    position: relative;
    left: 500px;
    top: 40px;
}
.frase{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    margin: auto;
    width: 600px;
    font-size: 40px; 
    
}

.botellas{
    position: relative;
    margin-left: 50px;
    top: 100px;
    width: 40%;
}

.dropdown{
    margin-left: 70%;
    top: -150px;
}
.dropdown-item:hover{
    background: rgb(57, 158, 79);
    
}
#form{
    position: relative;
    width: 500px;
    border-radius: 2%;
    margin-left: 450px;
    top: -150px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
     
}

#ayudar{
    background-color: rgb(30, 136, 53);
    position: relative;
    left: 50%;
    top: -150px;
}
#ayudar:hover{
    background: rgb(168, 218, 119);
}


